spring:
  application:
    name: kafka-example
  kafka:
    producer:
      valueSerializer: org.springframework.kafka.support.serializer.JacksonJsonSerializer
    consumer:
      # По-умолчанию, читать все партиции сначала.
      auto-offset-reset: earliest
      valueDeserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
