spring:
  application:
    name: kafka-example
  kafka:
    consumer:
      # По-умолчанию, читать все партиции сначала.
      auto-offset-reset: earliest

app:
  kafka:
    demo-topic: demo-messages
