spring:
  application:
    name: kafka-example
  kafka:
    producer:
      valueSerializer: org.springframework.kafka.support.serializer.JacksonJsonSerializer
      transaction-id-prefix: kafka-example-
      retries: 3
    consumer:
      # По-умолчанию, читать все партиции сначала.
      auto-offset-reset: earliest
      valueDeserializer: org.springframework.kafka.support.serializer.JacksonJsonDeserializer
      enable-auto-commit: false
      properties:
        isolation.level: read_committed
        spring.json.trusted.packages: x
    listener:
      ack-mode: RECORD
