spring:
  application:
    name: kafka-example
  kafka:
    producer:
      valueSerializer: org.springframework.kafka.support.serializer.JacksonJsonSerializer
      transaction-id-prefix: kafka-example-
      retries: 3
    consumer:
      # По-умолчанию, читать все партиции сначала.
      auto-offset-reset: earliest
      valueDeserializer: org.springframework.kafka.support.serializer.JacksonJsonDeserializer
      enable-auto-commit: false
      properties:
        isolation.level: read_committed
        spring.json.trusted.packages: x
    listener:
      ack-mode: RECORD
    streams:
      application-id: demo-streams-variant-a
      state-dir: /tmp/kafka-streams/demo-variant-a
      properties:
        processing.guarantee: exactly_once_v2
        commit.interval.ms: 1000
        num.stream.threads: 2
        default.timestamp.extractor: demo.streams.EventTimestampExtractor
        topology.optimization: all
